@font-face{
    font-family: 'Courgette';
    src: url(../../../outil/Courgette-Regular.ttf);
    
}
@font-face{
    font-family: 'Oswald';
    src: url(../../../outil/Oswald-VariableFont_wght.ttf);
}
nav{
    font-family: "Courgette";
    height: 80px;
    border-bottom: 3px solid;
}
nav h2{
    padding-left: 30px;
}
a.navbar-brand{
    font-size: 30px;
    margin-top: -10px;
}

#navbarNavAltMarkup{
    flex-direction: row-reverse;

}
.back{ 
    
     font-family: "Courgette";
    background-image: url(./img/header.jpg);
    background-position: center;
    
    
}
nav,
header{
    background-color: rgba(0, 0, 0, 0.637);
}
    
    
    
button{
    color: gray;
}
#navbarToggleExternalContent{
     color: gray;

 }

header{
    height: 500px;
}
.white{
    color: white;
    text-align: center;
    margin-top: 138px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


img{
    width: 120px;
}
.white h1{
    font-size: 40px;
}
.white h2{
    font-size: 40px;
    width: 262px;
    
}

.last h2{
    text-align: center;

}
.article h2 , .article p{
    font-family: 'Oswald';

}
.article h3{
    font-family: 'Courgette'
}

section .article{
    height: 200px;
}
.article img{
    width: 600px;
}

.text h2{
    font-family:'Courgette'

}
.text p{
    font-family:'Oswald';

}



section .metro{
    height: 200px;
}
.image img{
    width: 600px;
}
.precedent a{
    color:gray;
    text-decoration: none;
}

footer{
    height: 400px;
    background-color: black;
}
